{% extends 'base.html' %}
{% load static %}

{% block title %}Assistech — Centraliza tu soporte{% endblock %}

{% block navbar_links %}
    <a href="#producto" class="transition hover:text-white">Producto</a>
    <a href="#funciones" class="transition hover:text-white">Funciones</a>
    <a href="#precios" class="transition hover:text-white">Precios</a>
{% endblock %}

{% block content %}
    {% include 'landing_secciones/hero.html' %}
    {% include 'landing_secciones/producto.html' %}
    {% include 'landing_secciones/ventajas.html' %}
    {% include 'landing_secciones/proceso.html' %}
    {% include 'landing_secciones/planes.html' %}
    {% include 'landing_secciones/testimonios.html' %}
    {% include 'landing_secciones/preguntas.html' %}
    {% include 'landing_secciones/comenzar_ya.html' %}
    {% include 'landing_secciones/contacto.html' %}


    {% include 'componentes/footer.html' %}
{% endblock %}

{% block extra_head %}

{% endblock %}